.vs/CellAssessment/FileContentIndex/44b5fb9b-3bfb-4680-9873-96e18cd1713b.vsidx
.vs/CellAssessment/FileContentIndex/ee5916e0-2c09-4e23-9d61-b521275d19e2.vsidx
.vs/ThinkCellAssessment/FileContentIndex/5bf24de3-8802-4f53-8d58-9f7233ae8b93.vsidx
.vs/ThinkCellAssessment/v17/.suo
.vs/ThinkCellAssessment/v17/Browse.VC.db
.vs/ThinkCellAssessment/v17/Browse.VC.db-shm
.vs/ThinkCellAssessment/v17/Browse.VC.db-wal
.vs/ThinkCellAssessment/v17/Browse.VC.opendb
.vs/ThinkCellAssessment/v17/DocumentLayout.json
.vs/ThinkCellAssessment/v17/Solution.VC.db
.vs/ThinkCellAssessment/v17/ipch/AutoPCH/3a4430c5b7226b13/CELLASSESSMENT.ipch
.vs/ThinkCellAssessment/v17/ipch/AutoPCH/b9d50bf9b160316c/SECONDATTEMPT.ipch
