.vs/ThinkCellAssessment/FileContentIndex/0782188f-cd20-4dc5-af4f-d4ab4a4abbd7.vsidx
.vs/ThinkCellAssessment/FileContentIndex/c24623e0-72ea-4737-96b8-04189868eb16.vsidx
.vs/ThinkCellAssessment/v17/Browse.VC.db
.vs/ThinkCellAssessment/v17/Browse.VC.db-shm
.vs/ThinkCellAssessment/v17/Browse.VC.db-wal
.vs/ThinkCellAssessment/v17/Browse.VC.opendb
.vs/ThinkCellAssessment/v17/ipch/AutoPCH/3a4430c5b7226b13/CELLASSESSMENT.ipch
.vs/ThinkCellAssessment/v17/ipch/AutoPCH/b9d50bf9b160316c/SECONDATTEMPT.ipch
